<div nz-row class="header-container">
  <button nz-button nzType="primary" (click)="openModal()">
    <nz-icon nzType="plus" nzTheme="outline"></nz-icon>
    <span>申請品質檢定</span>
  </button>
</div>
<nz-table #filterTable
          [nzData]="displayedList"
          [nzTotal]="total"
          [nzPageSize]="pageSize"
          [nzPageIndex]="pageIndex"
          [nzLoading]="loading"
          [nzShowTotal]="totalTemplate"
          nzShowSizeChanger
          nzFrontPagination="false"
          (nzPageIndexChange)="getInspections($event, pageSize)"
          (nzPageSizeChange)="getInspections(pageIndex, $event)"
          ngSkipHydration>
  <thead>
    <tr>
      <th>商品名稱</th>
      <th>類別</th>
      <th>是否通過</th>
      <th>是否優良</th>
      <th>鑑定日期&時間</th>
      <th>檢測連結</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of filterTable.data">
      <td>{{ item.product }}</td>
      <td>{{ item.category }}</td>
      <td>
        <ng-container [ngSwitch]="item.pass">
          <ng-container *ngSwitchCase="1">通過</ng-container>
          <ng-container *ngSwitchCase="0">不通過</ng-container>
          <ng-container *ngSwitchDefault>尚未檢測</ng-container>
        </ng-container>
      </td>
      <td>
        <ng-container [ngSwitch]="item.excellent">
          <ng-container *ngSwitchCase="1">優良</ng-container>
          <ng-container *ngSwitchCase="0">非優良</ng-container>
          <ng-container *ngSwitchDefault>尚未檢測</ng-container>
        </ng-container>
      </td>
      <td>{{ (item.date + 'T' + item.detailTime) | date:'yyyy-MM-dd HH:mm' }}</td>
      <td>
        <ng-container *ngIf="item.url">
          <button nz-button nzType="link" (click)="openLink(item.url)"
            [disabled]="!canOpenLink((item.date + 'T' + item.detailTime))" >
            {{ item.url }}
          </button>
        </ng-container>
      </td>
    </tr>
  </tbody>
</nz-table>
<ng-template #totalTemplate>
  總共 {{ total }} 筆
</ng-template>

