:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.menu-sidebar {
  position: fixed;
  top: 0;
  z-index: 10;
  min-height: 100vh;
  box-shadow: 2px 0 6px rgba(0,21,41,.35);
}

.header-trigger {
  height: 64px;
  font-size: 20px;
  cursor: pointer;
  transition: all .3s,padding 0s;
}

.trigger:hover {
  color: #1890ff;
}

.sidebar-logo {
  position: relative;
  height: 64px;
  padding-left: 8px;
  overflow: hidden;
  line-height: 64px;
  transition: all .3s;
}

.sidebar-logo img {
  display: inline-block;
  height: 50px;
  width: 72px;
  vertical-align: middle;
  margin-bottom: 12px;
  margin-left: -5px;
}

.sidebar-logo h1 {
  display: inline-block;
  margin: 0 0 0 10px;
  font-size: 18px;
  vertical-align: middle;
}

nz-header {
  padding: 0;
  width: 100%;
  z-index: 2;
  position: sticky;
  top: 0;
  background: #fff;
}

.app-header {
  position: relative;
  height: 64px;
  padding: 0;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0,21,41,.08);
}

nz-content {
  margin: 24px;
  height: auto;
  width: auto;
}

.inner-content {
  box-sizing: border-box;
  padding: 24px;
  background: #fff;
  min-height: calc(100vh - 100px);
  height: auto;
  width: auto;
}

.header-content {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 16px;
}

nz-footer {
  text-align: center;
  height: 30px;
}

.userPic{
  -webkit-background-size: 32px 32px;
  background-size: 32px 32px;
  border: 0;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: block;
  margin: 0px;
  position: relative;
  height: 36px;
  width: 36px;
  z-index: 0;
}

.userPicDiv{
  position: relative;
  display: inline-block;

  mat-card{
    right: 0;
    top: 100%;
    margin-top: 10px;
    z-index: 1000;
    position: absolute;
    background-color: #fff;
    padding: 5px;

    mat-card-header{
      text-align: center;

      mat-card-subtitle{
        padding-bottom: 10px;
        display: flex;
        align-items: center;
      }

      img{
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
    }
    mat-card-actions{
      display: flex;
      justify-content: center;
    }
  }
}

