<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="200px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed" [nzTrigger]="null" nzTheme="light">
    <div class="sidebar-logo">
      <span class="header-trigger" (click)="isCollapsed = !isCollapsed"
            [ngStyle]="{'padding': isCollapsed ? '20px 20px' : '20px 13px'}">
        <span class="trigger" nz-icon nzType="menu"></span>
      </span>
      <a routerLink="/dashboard">
        <img src="/img/icon.png" alt="logo">
      </a>
    </div>
    <ul nz-menu nzTheme="light" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item routerLink="/dashboard" [nzSelected]="isActive('/dashboard')"
        [matTooltip]="isCollapsed ? '統計資料' : ''" matTooltipPosition="right">
        <nz-icon nzType="bar-chart" />
        <span>統計資料</span>
      </li>
      <li nz-menu-item routerLink="/products" [nzSelected]="isActive('/products')"
          [matTooltip]="isCollapsed ? '商品管理' : ''" matTooltipPosition="right">
        <nz-icon nzType="shopping" />
        <span>商品管理</span>
      </li>
      <li nz-menu-item
        [matTooltip]="isCollapsed ? '訂單管理' : ''" matTooltipPosition="right">
        <nz-icon nzType="solution" />
        <span>訂單管理</span>
      </li>
      <li nz-menu-item
        [matTooltip]="isCollapsed ? '品質檢測管理' : ''" matTooltipPosition="right">
        <nz-icon nzType="audit" />
        <span>品質檢測管理</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header >
      <div class="header-content">
        <div class="header-logo" *ngIf="isCollapsed">
          <a routerLink="/dashboard">
            <img src="/img/icon.png" alt="logo" height="50" width="70" />
          </a>
        </div>
        <div class="header-right">
        </div>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
