<div nz-col nzSpan="24" style="padding-bottom: 50px">
  <nz-row [nzGutter]="24">
    <nz-col [nzSpan]="6">
      <nz-card>
        <nz-statistic [nzValue]="(1000 | number)!" nzTitle="銷售額"nzPrefix="$"></nz-statistic>
      </nz-card>
    </nz-col>
    <nz-col [nzSpan]="6">
      <nz-card>
        <nz-statistic [nzValue]="(9 | number)!" nzTitle="訂單數" nzSuffix="筆"></nz-statistic>
      </nz-card>
    </nz-col>
    <nz-col [nzSpan]="6">
      <nz-card>
        <nz-statistic [nzValue]="(9 | number)!" nzTitle="買家評價" nzSuffix="個"></nz-statistic>
      </nz-card>
    </nz-col>
    <nz-col [nzSpan]="6">
      <nz-card>
        <nz-statistic [nzValue]="(9 | number)!" nzTitle="客單價" nzPrefix="$"></nz-statistic>
      </nz-card>
    </nz-col>
  </nz-row>
</div>
<div nz-col nzSpan="24">
  <nz-row [nzGutter]="24">
    <nz-col [nzSpan]="12">
      <nz-card nzTitle="各商品銷售量">
        <div echarts [options]="barOptions" *ngIf="isBrowser" style="height: 400px;weight: 200px;"></div>
      </nz-card>
    </nz-col>
    <nz-col [nzSpan]="12">
      <nz-card nzTitle="各類別銷售額佔比">
        <div echarts [options]="pieOptions" *ngIf="isBrowser" style="height: 400px;weight: 200px;"></div>
      </nz-card>
    </nz-col>
  </nz-row>
</div>
